

    
<h1>KazToll</h1>

<div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <h3 class="h4 text-success font-weight-bold mb-4">Оператор комфортных дорог</h3>
        <!-- Tabs with icons -->
        <div class="mb-3">
          <small class="font-weight-bold">Система взимания платы за проезд по
            платным автомобильным дорогам
            Республики Казахстан.</small>
        </div>
          <ngb-tabset [justify]="'center'" class="custom-tab-content flex-column flex-md-row" type="pills">
              <ngb-tab>
                <ng-template ngbTabTitle>
                  <i class="ni ni-single-02 mr-2"></i> Вход
                </ng-template>
                  <ng-template ngbTabContent>
                    <button class="btn btn-1 btn-success" [disabled]="loading" (click)="selectNCAStore()" type="button">Вход по ЭЦП</button>
                    <!-- <button *ngIf="roleUser === 'USER'" class="btn btn-1 btn-success" [disabled]="loading" (click)="goToUser()" type="button">Войти в кабинет</button> -->
                  </ng-template>
              </ngb-tab>
              <ngb-tab>
                <ng-template ngbTabTitle>
                  <i class="ni ni-paper-diploma mr-2"></i> Статус документа
                </ng-template>
                  <ng-template ngbTabContent>
                      <!-- <p class="description">Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.</p> -->
                  </ng-template>
              </ngb-tab>
              <ngb-tab>
                <ng-template ngbTabTitle>
                    <i class="ni ni-active-40 mr-2"></i> Информация
                </ng-template>
                  <ng-template ngbTabContent>
                      <!-- <p class="description">Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth.</p> -->
                  </ng-template>
              </ngb-tab>
          </ngb-tabset>
      </div>
    </div>
  </div>
  