<h1><strong><em>K</em>azToll</strong></h1>

<div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <h3 class="h4 text-success font-weight-bold mb-4">Оператор комфортных дорог</h3>
        <!-- Tabs with icons -->
        <div class="mb-3 d-block main_text_login">
          <small class="font-weight-bold">Система взимания платы за проезд по
            платным автомобильным дорогам
            Республики Казахстан.</small>
        </div>
          <ngb-tabset [justify]="'center'" class="custom-tab-content flex-column flex-md-row" type="pills">
              <ngb-tab>
                <ng-template ngbTabTitle>
                  <i class="ni ni-single-02 mr-2"></i> Вход
                </ng-template>
                <ng-template ngbTabContent>
                    <div [ngClass]="{ unvisible_tab: regItem }">
                      <div class="d-flex flex-column w-100 align-items-center justify-content-center">    
                        <button class="btn btn-1 btn-success d-block" [disabled]="loading" (click)="selectNCAStore()" type="button"><i class="ni ni-credit-card mr-2"></i> Вход по ЭЦП</button>
                        <button class="btn btn-1 btn-success d-block mt-3" [disabled]="loading" (click)="changeReg()" type="button"><i class="ni ni-key-25 mr-2"></i>Зарегистрироваться</button>
                      </div>
                    </div>
                    <div [ngClass]="{ unvisible_tab: !regItem }">
                      <button (click)="changeReg()"  class="btn btn-1 btn-success d-block">Назад</button>
                      <div class="input-group input-group-alternative mt-3">
                        <div class="input-group-prepend">
                          <span class="input-group-text"><i class="ni ni-circle-08"></i></span>
                        </div>
                        <input [(ngModel)]="firstName" #ctrl="ngModel" class="form-control" placeholder="Ваше имя" type="text">
                      </div>
                      <div class="input-group input-group-alternative mt-3">
                        <div class="input-group-prepend">
                          <span class="input-group-text"><i class="ni ni-circle-08"></i></span>
                        </div>
                        <input [(ngModel)]="lastName" #ctrl="ngModel" class="form-control" placeholder="Ваша фамилия" type="text">
                      </div>
                      <div class="input-group input-group-alternative mt-3">
                        <div class="input-group-prepend">
                          <span class="input-group-text"><i class="ni ni-single-copy-04"></i></span>
                        </div>
                        <input [(ngModel)]="idn" #ctrl="ngModel" class="form-control" placeholder="Ваш ИИН" >
                      </div>
                      <div class="input-group input-group-alternative mt-3">
                        <div class="input-group-prepend">
                          <span class="input-group-text"><i class="ni ni-single-copy-04"></i></span>
                        </div>
                        <input [(ngModel)]="bin" #ctrl="ngModel" class="form-control" placeholder="БИН Компании" >
                      </div>

                      <div class="custom-control custom-radio mt-3 mb-2">
                        <input [(ngModel)]="companyType" #ctrl="ngModel" name="custom-radio-2" class="custom-control-input" value="ИП" id="customRadio5" type="radio">
                        <label class="custom-control-label" for="customRadio5">Индивидуальный предприниматель</label>
                      </div>
                      <div class="custom-control custom-radio">
                        <input [(ngModel)]="companyType" #ctrl="ngModel" name="custom-radio-2" class="custom-control-input" value="ТОО" id="customRadio6"  type="radio">
                        <label class="custom-control-label" for="customRadio6">Товарищество с ограниченной ответственностью</label>
                      </div>
                      <div class="custom-control custom-radio mt-2 mb-3">
                        <input [(ngModel)]="companyType" #ctrl="ngModel" name="custom-radio-2" class="custom-control-input" value="АО" id="customRadio7"  type="radio">
                        <label class="custom-control-label" for="customRadio7">Акционерное общество</label>
                      </div>
      
                      <div class="input-group input-group-alternative mt-3">
                        <div class="input-group-prepend">
                          <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                        </div>
                        <input [(ngModel)]="email" #ctrl="ngModel" class="form-control" placeholder="Электронная почта" type="email">
                      </div>
                      <div class="input-group input-group-alternative mt-3">
                        <div class="input-group-prepend">
                          <span class="input-group-text"><i class="ni ni-ruler-pencil"></i></span>
                        </div>
                        <input [(ngModel)]="middleName" #ctrl="ngModel" class="form-control" placeholder="Сокращенное Ф.И.О" type="text">
                      </div>
                      <div class="input-group input-group-alternative mt-3">
                        <div class="input-group-prepend">
                          <span class="input-group-text"><i class="ni ni-building"></i></span>
                        </div>
                        <input [(ngModel)]="company" #ctrl="ngModel" class="form-control" placeholder="Наименование компании" type="text">
                      </div>

                      <button (click)="selectNCAStoreReg()"  class="btn btn-1 btn-success d-block mt-3">Зарегистрироваться</button>
                    </div>
                    
                    <!-- <button *ngIf="roleUser === 'USER'" class="btn btn-1 btn-success" [disabled]="loading" (click)="goToUser()" type="button">Войти в кабинет</button> -->
                  </ng-template>
              </ngb-tab>
              <ngb-tab>
                <ng-template ngbTabTitle>
                  <i class="ni ni-paper-diploma mr-2"></i> Статус документа
                </ng-template>
                  <ng-template ngbTabContent>
                      <!-- <p class="description">Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.</p> -->
                  </ng-template>
              </ngb-tab>
              <ngb-tab>
                <ng-template ngbTabTitle>
                    <i class="ni ni-active-40 mr-2"></i> Информация
                </ng-template>
                  <ng-template ngbTabContent>
                      <!-- <p class="description">Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth.</p> -->
                  </ng-template>
              </ngb-tab>
          </ngb-tabset>
      </div>
    </div>
  </div>
  