<footer class="footer">
  <div class="d-flex flex-column flex-md-row flex-wrap flex-md-nowrap justify-content-between">
    <div class="d-flex mr-md-5 flex-column flex-md-row">
      <div class="footer__phones">
        <!-- <div class="footer__phone"><a href="tel:">3312123</a></div>
        <div [translate]="'global.MOBILE_FREE_TIP'">Бесплатно с мобильного</div>
        <div class="mt-2 d-flex">
          <div>
            <div class="fw-width-48 fw-height-48 p-0">
              
            </div>
          </div>
          <div class="ml-2 fw-color-green">
            <a href="https://" target="_blank" class="fw-color-green" >Перейти на сайт</a>
          </div>
        </div> -->
      </div>
      <div class="mt-3 mt-md-0">
        <div class="footer__phone"><a>KAZ TOLL</a></div>
        <div>г. Алматы</div>
      </div>
    </div>
    <div class="mt-3 mt-md-0">
      <div class="footer-txt1-w">
        <div class="footer-txt1" [translate]="'global.FOOTER_TXT1'">Система взимания платы за проезд по платным автомобильным дорогам Республики Казахстан.</div>
        <a class="footer-appstore" href="https://itunes.apple.com/kz/app/starbanking/id743617904?mt=8"></a>
        <a class="footer-android" href="https://play.google.com/store/apps/details?id=kz.bcc.starbanking"></a>
      </div>
      <div class="footer-qr-code"></div>
    </div>
  </div>
  <div class="footer__socials ml-5">
    <button class="btn btn-round btn-small"><a class="ui-link" href="mailto:hotline">НАПИСАТЬ НАМ</a></button>
  </div>
  <div class="mt-4 d-flex flex-column flex-md-row justify-content-md-between align-items-md-center">
    <div class="footer__copy">© 2021</div>
    <div class="mt-4 mt-md-0">

    </div>
  </div>
</footer>
