<div class="application-container container-fluid d-flex flex-column">
  <app-header [isMenuOpened]="isMenuOpened" (toggleMenuState)="toggleMenuState($event)"></app-header>
  <div class="row d-flex flex-grow-1">
    <div class="d-flex flex-grow-1 col-12 p-0">
      <div class="navigation" [ngClass]="{'opened': isMenuOpened}">
        <app-navbar></app-navbar>
      </div>
      <toaster-container [toasterconfig]="config"></toaster-container>
      <div class="content-container d-flex flex-column flex-grow-1 col-12" id="content-container">
        <div class="flex-grow-1">
            <!-- <button (click)="getItems()">Получить список документов</button> -->
            <table>
              <tbody>
                <tr>Список документов</tr>
                <td>
                  <!-- <hr> -->
                  <div class="card_doc" *ngFor="let doc of docs">
                    <div>
                    <h4>Имя документа: {{doc.name}}</h4>
                    <h6>Дата создания: {{doc.created}}</h6>
                    <button *ngIf="signStatus === false" class="btn btn-1 btn-success" type="button" (click)="startProcessSign('PKSC12', doc.body_html)"> Подписать документ </button>
                    </div>
                    <!-- <hr> -->
                  </div>
                </td>
              </tbody>
            </table>
          <!-- <router-outlet></router-outlet> -->
        </div>
        <!-- <app-footer class="footer-m-l"></app-footer> -->
        <div class="mobile-menu-overlay"
             [ngClass]="{'active': isMenuOpened}"
             (click)="toggleMenuState($event)"></div>
      </div>
    </div>
  </div>
</div>
