<app-base-sidebar></app-base-sidebar>
<div class="container-fluid">
  <div class="row">
  </div>
  <div class="row mt-5 mb-5 ml--9 justify-content-xl-end">
    <div class="col-xl-8 mb-5 mb-xl-0">
      <div class="card shadow">
        <div class="card-header border-0">
          <div class="row align-items-center">
            <div class="col">
              <h3 class="mb-0">Список компаний</h3>
              <form>
                <select class="form-control" data-toggle="select" (change)="changeFilterDocs($event)" title="Фильтровать по статусу" data-live-search="true" data-live-search-placeholder="Фильтр">
                    <option value="">Все</option>
                    <option value="APPROVED">Документ подписан</option>
                    <option value="PENDING">Требует подписи клиента</option>
                    <option value="SIGNED">Требует подписи оператора</option>
                    <option value="DECLINE">Отменен</option>
                </select>
            </form>
            </div>
          </div>
        </div>
        <div class="table-responsive">
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th scope="col">Наименование компании</th>
                <th scope="col">БИН компании</th>
                <th scope="col">Документ</th>
                <th scope="col">Статус</th>
                <th scope="col">Действия</th>
              </tr>
            </thead>
            <tbody *ngFor="let docComp of docsCompany; let i = index" >
              <tr>
                <td >
                  <span>{{docComp.name}}</span>
                </td>
                <td>
                  <span>{{docComp.bin}}</span>
                </td>
                <td>
                  <strong>{{docComp.documents[i].name}}</strong>
                </td>
                <td>
                  <span *ngIf="docComp.documents[i].status === 'PENDING'" class="text-warning">Требует подписи клиента</span>
                  <span *ngIf="docComp.documents[i].status === 'SIGNED'" class="text-warning">Требует подписи оператора</span>
                  <span *ngIf="docComp.documents[i].status === 'DECLINE'" class="text-danger">Отклонен</span>
                  <span *ngIf="docComp.documents[i].status === 'APPROVED'" class="text-success">Подписан</span>
                </td>
                <td>
                  <span *ngIf="docComp.documents[i].status !== 'SIGNED'"> - </span>
                  <button *ngIf="docComp.documents[i].status === 'SIGNED'" type="button" class="btn btn-success" (click)="startProcessSign('PKSC12', docComp.documents[i].body, docComp.id)">Подписать</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<app-base-footer></app-base-footer>
